<!--Google map-->
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <address class="vcard">
        <span class="adr">
          <span class="street-address">xxxxxxxxxxxxxx</span>
          <span class="locality">xxxxxxxxxxxxx</span>,
          <abbr class="region" title="AAAAAAA">ES</abbr>&nbsp;&nbsp;
          <span class="postal-code">9999</span>
          <span class="country-name">ESPAÑA</span>
        </span>
      </address>
    </div>
  </div>
</section>